<?xml version="1.0" encoding="utf-16"?><input Service="YesCustomerManagerService" Operation="custSignVerification( SessionContext,String,long,String)"><SessionContext><SupervisorContext><PrimaryPassword /><UserId /></SupervisorContext><BankCode>532</BankCode><Channel>BRN</Channel><ExternalBatchNumber /><ExternalReferenceNo /><ExternalSystemAuditTrailNumber /><LocalDateTimeText /><OriginalReferenceNo /><UserReferenceNumber>ASBAPUILSDFL5Q</UserReferenceNumber><OverridenWarnings /><PostingDateText /><ServiceCode /><SessionTicket /><TransactionBranch>777</TransactionBranch><UserId>ASBAUSER</UserId><ValueDateText /></SessionContext><ExtUniqueRefId>PUILSDFL5Q</ExtUniqueRefId><CustomerId /><AccountNumber>000790100024481</AccountNumber></input>
