<soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:ser="http://www.quantiguous.com/services">
   <soap:Header/>
   <soap:Body>
      <ser:verifyPIN>
         <ser:version>1</ser:version>
         <ser:appID>{{appid}}</ser:appID>
         <ser:mobileNo>1455946324</ser:mobileNo>
         <ser:pinBlock>338BE5673C6B86CF</ser:pinBlock>
      </ser:verifyPIN>
   </soap:Body>
</soap:Envelope>
